
body
{
	font-family: "Dosis";
}

.title h1
{
	font-size: 128px;
}

.title p
{
	font-size: 36px;
	color: #555;
}

.category
{
	padding: 15px;
	margin: 5px;
}

img
{
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.rounded
{
	border-radius: 25px;
}

.category p
{
	color: white;
	font-size: 24px;
	text-align: center;
	padding-top: 10px;
}

.category a
{
	text-decoration: none;
}

.nav-back
{
	padding-bottom: 50px;
}

.nav-back a
{
	font-size: 40px;
	color: #333;
	text-decoration: overline;
}



.category-header img
{
	padding: 15px;
	height: 170px;

}

.category-header h1
{
	font-size: 48px;
	text-transform: capitalize;
}

.category-header p
{
	font-size: 28px;
	color: #555;
}

.category-header a
{
	font-size: 28px;
}

.examples img
{
	padding: 15px;
}

.examples
{
	margin: 5px;
}

.graph img
{
	width: 100%;
	height: auto;
}

.color1{	background-color: #3d566e;}
.color2{	background-color: #3B725F;}
.color3{	background-color: #ecf0f1;}
